<h1>Hello articles {{id}}</h1>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> The Best News Highlight Website </title>
        {% endif %}
    </head>
    <body>
        <!-- General sources section  -->
        <h3> General sources</h3>
         <ul>
            {% for general_sources in general%}
                <li>{{ general_sources.name}}</li>
                <li>{{ general_sources.description}}</li>
            {% endfor %}
        </ul>

    </body>
</html>