{% extends 'base.html'%}

{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}        
        <!-- Content block -->
{% block content %}
<div class="container-fluid">
    <div class="row" id="top">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-details">
            <h1>News Highlights</h1>
        </div>
    </div>

    <div class="row" id="general">
        <div class="col-md-12 categories">
            <h2>General News</h2>
        </div>
            {{macro.displaySourceList(general)}}
    </div>


<div class="row" id="tech">
        <div class="col-md-12 categories">
            <h2>Technology News</h2>
        </div>
        {{macro.displaySourceList(technology)}}
</div>

<div class="row" id="business">
        <div class="col-md-12 categories">
            <h2>Business News</h2>
        </div>
        {{macro.displaySourceList(business)}}
</div>

<div class="row" id="sports">
        <div class="col-md-12 categories">
            <h2>Sports News</h2>
        </div>
        {{macro.displaySourceList(sports)}}
</div>
</div>

{% endblock %}
       