{% extends 'base.html'%}

{% import 'macros.html' as macro %}
    
        
    <body>
        <!-- Content block -->
{% block content %}
<div class="container-fluid">
    <div class="row" id="top">
        <div class="col-md-12 heading">
            <h1>News Highlights</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 categories">
            <h2>General News</h2>
        </div>
            {{macro.displaySourceList(general)}}
    </div>
</div>

<div class="row" id="tech">
        <div class="col-md-12 categories">
            <h2>Technology News</h2>
        </div>
        {{macro.displaySourceList(tech)}}
    </div>

{% endblock %}
       